* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: whitesmoke;
}
.container {
  flex-direction: column;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  width: 75%;
}
header {
  background-color: #101010;
}

/* ---- This is my NAVBAR PART---- */
.navbar {
  justify-content: space-between;
  flex-direction: row;
  padding: 30px 0;
  display: flex;
  width: 75%;
}
.nav-menu {
  list-style: none;
  display: flex;
  gap: 3rem;
}
.nav-btn {
  text-decoration: none;
  font-size: 14px;
  color: white;
}
.home {
  text-decoration: none;
  color: #dd7d4d;
}

.back-btn {
  display: flex;
  align-items: start;
  padding: 2rem 0;
  /* background-color: #fafafa; */
  background-color: whitesmoke;
  font-size: 15px;
  color: #898989;
  text-decoration: none;
  width: 100%;
}

/* === THIS IS MY MAIN SECTION === */
.checkout-form {
  display: flex;
  align-items: start;
  margin-bottom: 7rem;
  border-radius: 8px;
  flex-direction: row;
  gap: 2rem;
}
.form-part {
  background-color: white;
  padding: 3rem;
  width: 70%;
}
.section-title {
  padding: 3rem 0 1rem 0;
  font-size: 14px;
  font-weight: 500;
  color: #ca9075;
}
/* === THIS IS MY CHECKOUT FORM PART === */


/* === THIS IS MY CART SUMMARY PART === */

.cart-items {
  background-color: white;
  width: 28%;
  height:auto;
  padding: 1.5rem;
  border-radius: 5px;
}
.cart-item {
  display: flex;
  gap: 1rem;
  padding-top: 2rem;
}
.cart-item-pic {
  width: 60px;
  border-radius: 8px;
}
.cart-item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.cart-item-name {
  font-size: 16px;
  color: black;
  font-weight: 800;
}
.cart-item-price {
  font-size: 14px;
  color: #898989;
}
.cart-item-quantity {
  font-size: 12px;
  color: #898989;
  font-weight: 800;
}

.cart-total {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.total-label {
  font-size: 14px;
  color: #898989;
  font-weight: 500;
}
.total-price {
  font-size: 16px;
  color: black;
  font-weight: 800;
}

.cart-shipping {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.shipping-label {
  font-size: 14px;
  color: #898989;
  font-weight: 500;
}
.shipping-price {
  font-size: 16px;
  color: black;
  font-weight: 800;
}

.cart-vat {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.vat-label {
  font-size: 14px;
  color: #898989;
  font-weight: 500;
}
.cart-grant-total {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.grant-total-label {
  font-size: 14px;
  color: #898989;
  font-weight: 500;
}
.grand-total-price{
  font-size: 16px;
  color: rgb(216, 124, 73);
  font-weight: 800;
}

.checkout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99%;
  height: 2.8rem;
  border: none;
  background-color: rgb(216, 124, 73);
  color: whitesmoke;
  font-size: 12px;
  margin-top: 1.5rem;
}
/* ==== THIS IS MY FOOTER SECTION ==== */
.footer-line {
  background-color: #ff5500;
  height: 4px;
  width: 100px;
  margin-bottom: -0.2%;
  margin-left: 12%;
  z-index: 10;
  position: relative;
}

.footer-container {
  background-color: #101010;
  padding: 5rem 0;
}
.footer-section {
  display: flex;
  color: #898989d3;
  justify-content: space-between;
  flex-direction: row;
}
.footer-caption {
  width: 50%;
}
.social-media {
  display: flex;
  align-items: end;
  gap: 1rem;
}
.copyright {
  color: #898989d3;
  margin-top: 2rem;
  display: flex;
  align-items: start;
}
